
 .bb {color: #333;
    font-family: Arial, Helvetica, sans-serif;
    }
  
  .name { font-style: italic}
  .pos {font-style: bold}
  
  th { text-transform: uppercase }

  a { color:#00f; 
    text-decoration: underline}

  a:hover {
    text-decoration: none;
  }
  
  a:visited {
    color:#005;
    text-decoration: underline
  }
  
  .items {
    list-style-type: square;
  }
  img {
    border-style: solid;
    border-width: 2px; padding:10px;
    border-color: #00A4BD
  }
  table { background-color:rgb(159, 179, 248)}
  th {background-color: rgb(10, 119, 235)}
  div {border-bottom-style: solid; border-color: blue }
  .hire {display:none}
